<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="container">
    <div>
      <h2>{{title}}: {{todos.length}}</h2>
    </div>

    <div>
      <label ng-repeat="todo in todos" class="label">
        <input type="checkbox" ng-click="deleteTodo(todo._id)"> <span>{{ todo.text }}</span>
      </label>
    </div>

    <div>
      <div>
        <form class="form-data">
          <input type="text" class="form-control input-lg text-center" placeholder="I want to buy a puppy that will love me forever" ng-model="formData.text"/>
          <button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Add</button>
        </form>
      </div>
    </div>
    </div>
  </ion-content>
</ion-view>
